:root {
  --white: #fff;
  --black:#191919;
  --blue: #3a80e9;
  --grey: #888;
  --darkgrey: #191818;
  --green: #3dc24d;
  --red: #f94141;
}
body{
  background-color: var(--black);
  color: var(--white);
}
